<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

     <title>Getting Started: Serving Web Content</title>
</head>
<body style="background-color: #A9A9A9">

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #DCDCDC">
    <a class="navbar-brand" href="/">Autocar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/main">Войти на главное меню</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-3">
    <h3> Вы используете информационную систему для автосалонов "Autocar". Мы предлагаем широкий спектр услуг по организации управления сетей автосалонов.</h3>
    <h3> Как клиент, вы можете воспользоваться типовым набором услуг нашей информационной системы. Либо заказать свою систему с расширенным функционалом.</h3>
    <h3> По вопросам обращайтесь в нашу компанию ЗАО "Автокар".</h3>
    <h4> Наш адрес: г. Москва, ул.Садовая, д.27А</h4>
    <h4> Телефон: 8 (927) 685-02-49</h4>
    <h4> Эллектронная почта: autocar_sail@mail.ru</h4>
</div>
<?xml version="1.0" encoding="utf-8"?>
</body>
</html>