<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Spring Security Example </title>
</head>
<body style="background-color:#A9A9A9">
<form action="/registration" method="post">
    <div class="container mt-3" style="background-color: #DCDCDC">
        <blockquote class="blockquote text-center">
            <p class="mb-0 h2">Зарегестрировать нового пользователя</p>
        </blockquote>
        <img src="https://optinmonster.com/wp-content/uploads/2017/09/perfect-welcome-email-for-new-subscribers.jpg" class="card-img-top" alt="...">
        <div class="form-group row mt-3">
            <label class="col-sm-2 col-form-label">Введите имя</label>
            <div class="col-sm-8">
                <input required type="text" class="form-control" name="name" placeholder="Имя">
            </div>
        </div>
        {{#message1}}
            {{message1}}
        {{/message1}}
        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Введите пароль</label>
            <div class="col-sm-8">
                <input required type="password" class="form-control" id="inputPassword3" name="pass" placeholder="Пароль">
            </div>
        </div>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Зарегистрировать пользователя</button>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <a href="/">На главную страницу</a>
            </div>
            <div class="col-sm-10">
                <a href="/main">На главную меню</a>
            </div>
        </div>
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>